body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

form,
button {
  display: inline;
}

li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.whole-app {
  border-radius: 5px;
  border-color: #333333;
  max-width: 600px;
}

.app-header {
  border: 3px solid #d4004d;
  border-radius: 18px;
  background-color: #fff;
  color: #333333;
  padding: 15px;
  margin: 20px 10px;
}

.forms-section {
  padding: 15px;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid #999999;
}

.forecast {
  padding: 15px;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid #999999;
  background-color: #d4004d;
}

.other-days {
  padding: 5px;
  margin: 7px;
  border-radius: 18px;
  border: 1px solid #999999;
  background-color: #fff;
  color: #333333;
}

.form-control {
  display: inline;
  max-width: 200px;
}
.form-control:focus {
  border-color: #d4004e70;
  box-shadow: 0 0 0 0.25rem rgba(30, 30, 30, 0.25);
}

.btn-primary {
  background-color: #d4004d;
  border-color: #d4004d;
}

.btn-primary:hover {
  background-color: #970339;
  border-color: #970339;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: #970339;
  border-color: #970339;
  box-shadow: 0 0 0 0.25rem rgba(30, 30, 30, 0.25);
}

.btn-primary:active {
  background-color: #970339;
  border-color: #970339;
  box-shadow: 0 0 0 0.25rem rgba(30, 30, 30, 0.25);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(30, 30, 30, 0.25);
}

.temp-button {
  background-color: #fff;
  border-color: #d4004d;
  color: #333;
}

.btn-group {
  margin-left: 12px;
  margin-right: 12px;
}

.credits {
  margin-left: 20px;
}
